@using CloudDrive.Services.Files
@model List<DataDto>

@{
	Layout = "/Views/Shared/_Layout.cshtml";
	ViewData["PageTitle"] = "Landing";
}

<ol>
	@foreach (var item in Model)
	{
		<li>
			@item.FileName
		</li>
	}
</ol>
