@page
@model ForgotPasswordConfirmation
@inject IHtmlLocalizer<SharedResource> Localizer

@{
	ViewData["Title"] = "Forgot password confirmation";
}

<div class="grid grid-cols-1 md:grid-cols-2">
	<div class="w-full h-full">

	</div>

	<div class="p-4">
		<img src="/img/logo2.svg" class="mx-auto h-48 w-auto max-h-screen" alt="Foras logo" />

		<h3 class="text-lg my-4 text-center">
			@Localizer["ResetLinkSent"]
		</h3>
	</div>
</div>
