@page
@model ResetPasswordConfirmationModel
@using CloudDrive
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
	ViewData["Title"] = "Reset password confirmation";
}

<div class="container my-10">
	<div class="border-2 bg-primary-green text-white p-4 rounded-md">
		<p>
			@Localizer["Your password has been reset"]
		</p>
	</div>
</div>