@using CloudDrive.Services.Note
@model NoteDto
@{
	Layout = "/Views/Shared/_Layout.cshtml";
}

<form asp-action="Create" method="post">
	<div>
		<label asp-for="Title"></label>
		<input asp-for="Title" type="text" placeholder="Title" />
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>

	<div>
		<label for="tags">
			Tags
		</label>

		<input id="tags" name="tags" type="text" placeholder="Tags" />
	</div>

	<button type="submit">
		Save
	</button>
</form>
