@using CloudDrive.Services.Note
@model List<NoteDto>

<html>

<head>
	<title>
		Note page - Cloud drive
	</title>
</head>

<body>
	<h1 style="color: gray">
		Note page
	</h1>

	<ol>
		@foreach (var item in Model)
		{
			<li>
				@item.Title
			</li>
		}
	</ol>
</body>

</html>