@using CloudDrive.Services.Notebooks
@model NotebookDto

<html>

<head>
	<title>
		Notebook Form
	</title>
</head>

<body>
	<h1 style="color: rgb(0, 115, 255)">
		Notebook Form page
	</h1>

	<form asp-action="Create" method="post">	
		<div>
			<label asp-for="Name"></label>
			<input asp-for="Name" type="text" placeholder="Name" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>

		<div>
			<label asp-for="Category"></label>
			<input asp-for="Category" type="text" placeholder="Category" />
			<span asp-validation-for="Category" class="text-danger"></span>
		</div>

		<div>
			<label asp-for="Color"> Color</label>
			<input asp-for="Color" type="text" placeholder="Color" />
		</div>

		<button type="submit">
			Save
		</button>
	</form>
</body>

</html>