@using CloudDrive.Services.Notebooks
@model List<NotebookDto>

<html>

<head>
	<title>
		Notebook page - Cloud drive
	</title>
</head>

<body>
	<h1 style="color: rgb(0, 115, 255)">
		Notebook page
	</h1>

	<ol>
		@foreach (var item in Model)
		{
			<li>
				@item.Name
			</li>
		}
	</ol>
</body>

</html>