@page "/userCredit/user/{id}"
@model clouddrive.Areas.UserCreditCards.Pages.IndexModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["PageTitle"] = "Index";
}

<h2>List all Credit Cards for user</h2>
    <a asp-area="UserCreditCards" asp-page="Edit" asp-page-handler="Update" >Add new </a>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead  class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th class="px-6 py-3">ID</th>
              <th class="px-6 py-3">Holder Name</th>
              <th class="px-6 py-3">Card Number</th>
              <th class="px-6 py-3">Expire Date</th>
              <th class="px-6 py-3">Action</th>
            </tr>
          </thead>
          <tbody>
                @if(Model.Cards.IsSuccssfull){
                    @foreach(var card in Model.Cards.Data)
                    {
                        <user-credit itemid="@card.Id" card='@Json.Serialize(card)'></user-credit>
                
                    }
         
                
                }
                else
                {
                    <tr>
                        <td colspan="5">@Model.Cards.Message</td>
                    </tr>
         
                }

 
          </tbody>
    </table>
</div>

@section Scripts{
    <script src="/components/UserCreditCards.js"></script>

}