@page "{id}"

@model CloudDrive.Api.Areas.Notebooks.Pages.DeletePage

@{
	Layout = "/Views/Shared/_Layout.cshtml";
}

<form asp-area="Notebooks" asp-page="/Delete" asp-route-id="Id" method="post">
	<input asp-for="Notebook.Id" type="hidden" />

	<div>
		<label asp-for="Notebook.Name"></label>
		<input asp-for="Notebook.Name" type="text" placeholder="Name" />
		<span asp-validation-for="Notebook.Name" class="text-danger"></span>
	</div>

	<div>
		<label asp-for="Notebook.Category"></label>
		<input asp-for="Notebook.Category" type="text" placeholder="Category" />
		<span asp-validation-for="Notebook.Category" class="text-danger"></span>
	</div>

	<div>
		<label asp-for="Notebook.Color"></label>
		<input asp-for="Notebook.Color" type="text" placeholder="Color" />
		<span asp-validation-for="Notebook.Color" class="text-danger"></span>
	</div>


	<button type="submit">
		Delete
	</button>
</form>
