<!DOCTYPE html>
<html class="" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>
		@ViewData["PageTitle"] - Cloud drive
	</title>

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/tailwind.css">
</head>

<body class="bg-gray-100 dark:bg-slate-800 dark:text-slate-400">
	<div class="container m-auto mt-4">
		<h1
			class="text-5xl font-bold text-center font-mono tracking-widest text-primary-500 dark:text-primary-400 mb-10 mt-8">
			@ViewData["PageTitle"]
		</h1>

		<button id="toggle-menu" class="block md:hidden btn-primary">
			menu
		</button>

		<nav id="nav"
			class="hidden px-4 py-2 text-lg md:flex flex-col md:flex-row md:space-x-4 text-gray-500 dark:text-slate-200">
			<a asp-controller="Home" asp-action="Get" class="nav-bill">
				Cloud drive
			</a>

			<a asp-area="Notes" asp-page="/Index" class="nav-bill">
				Notes
			</a>

			<a asp-area="UserPasswords" asp-page="/Index" class="nav-bill">
				User passwords
			</a>

			<button class="nav-bill text-left" id="toggle-darkmode">
				Toggle Dark mode
			</button>
		</nav>

		<div class="">
			@RenderBody()
		</div>
	</div>

	<script src="/components/fileuploader.js"></script>
	<script src="/site.js"></script>
</body>

</html>